<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="CookieLifeDays" value="10" />
  <add key="ContactPhoneNumber" value="(32 2) 04 30 91" />
  <add key="ContactPhoneNumber2" value="+(995 32 2) 04 30 91" />
  
</appSettings>
