@using MegaMarket.Code

<div class="panel-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>ჩვენ შესახებ</h3>
                <p>
                    <a href="#">კომპანიის შესახებ</a>
                    <br />
                    <a href="#">კონტაქტი</a>
                    <br />
                </p>
            </div>
            <div class="col-lg-3">
                <h3>პროდუქციის შეძენა</h3>
                <p>
                    <a href="#">მიწოდება</a>
                    <br />
                    <a href="#">ანგარიშსწორება</a>
                    <br />
                </p>
            </div>
            <div class="col-lg-3">
                <h3>ინფორმაცია</h3>
                <p>
                    <a href="#">სტატიები</a>
                    <br />
                    <a href="#">დაბრუნების პირობები</a>
                    <br />
                    <a href="#">სამშენებლო კალკულატორი</a>
                    <br />
                </p>
            </div>
            <div class="col-lg-3">
                <div class="socials">
                    <a href="http://facebook.com" target="_blank"><img src="@Url.Content("~/Content/Resources/Social/fb.png")" /></a>
                    <a href="http://twitter.com" target="_blank"><img src="@Url.Content("~/Content/Resources/Social/twit.png")" /></a>
                    <a href="http://youtube.com" target="_blank"><img src="@Url.Content("~/Content/Resources/Social/youtube.png")" /></a>
                </div>
                <div class="addition-info">
                    <h3>@GlobalSettings.ContactPhoneNumber2</h3>
                </div>
            </div>
        </div>
    </div>
</div>
